# Игнорировать виртуальное окружение
.venv/
venv/
env/

# Игнорировать файл базы данных SQLite
*.sqlite3

# Игнорировать кэш PyCharm
.idea/
__pycache__/
*.pyc

# Игнорировать статические файлы (если используются)
staticfiles/